<!-- Footer Component -->
<div class="footer-container">
    <div class="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Accessibility</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="footer-social">
        <a href="#" class="social-icon" aria-label="Facebook">
            <img src="images/facebook-icon.png" alt="Facebook">
        </a>
        <a href="#" class="social-icon" aria-label="Twitter">
            <img src="images/twitter-icon.png" alt="Twitter">
        </a>
        <a href="#" class="social-icon" aria-label="Instagram">
            <img src="images/instagram-icon.png" alt="Instagram">
        </a>
    </div>
    <div class="footer-address">
        <p>BATTS Table Tennis Club</p>
        <p>Norman Booth Leisure Centre, Ashdon Road</p>
        <p>Saffron Walden, Essex, CB10 2AJ</p>
    </div>
    <div class="copyright">
        <p>Copyright Batts Table Tennis Club 2025 All Rights Reserved</p>
        <p>Web Design by Carl Johnson - carl.johnson.batts@gmail.com</p>
    </div>
</div>
