 /* === Mobile-First design (code for smaller screens first) ===*/
 /* === BASE STYLES Applies to all screen by default unless
overridden by media queries. === */
/* Reset and base styles, This CSS reset ensures consistent styling across*/
/*different browsers by eliminating their default spacing variations*/
/*and establishing a predictable box model for the entire website.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* class home and table-tennis is used to remove underline from links in html files */
.home a {
  text-decoration: none;
}
.table-tennis a {
  text-decoration: none;
}


/* Import Roboto and Merriweather fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Merriweather:wght@500;700&display=swap');

body {
    background-color: #a0aebc;/* blue-grey*/
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3;
}

/* === Mobile-First design (code for smaller screens first) ===*/
h1 {
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

h2 {
  font-size: 1.1rem;
  line-height: 1.4;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

p {
  font-size: 1rem;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
 /* === RESPONSIVE BREAKPOINTS === */ 

 /* === TABLET 950px+ (MY HONOR TABLET 1143PX WIDE === */
 /* === SCREENS 950px OR LARGER IN WIDTH ===*/
 @media (min-width: 950px) {
  h1 {
    font-size: 1.8rem;
    line-height: 1.5;
    }
  h2 {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  p {
    font-size: 1.175rem;
    line-height: 1.6;
  }
}
