 /* === Mobile-First design (code for smaller screens first) ===*/
 /* === BASE STYLES Applies to all screen by default unless
overridden by media queries. === */
/* Reset and base styles, This CSS reset ensures consistent styling across*/
/*different browsers by eliminating their default spacing variations*/
/*and establishing a predictable box model for the entire website.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import Roboto and Merriweather fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Merriweather:wght@500;700&display=swap');

body {
    background-color: #a0aebc;/* blue-grey*/
    font-family: 'Roboto', Georgia, sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}
/* === Mobile-First design (code for smaller screens first) ===*/
h1 {
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 700;
}

h2 {
  font-size: 1.1rem;
  line-height: 1.3;
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

 /* === TABLET 950px+ (MY HONOR TABLET 1143PX WIDE === */
 /* === SCREENS 950px OR LARGER IN WIDTH ===*/
 @media (min-width: 950px) {
  h1 {
    font-size: 1.8rem;
    line-height: 1.6;
    font-family: 'Merriweather', Georgia, serif;
    font-weight: 700;
    }
  h2 {
    font-size: 1.4rem;
    line-height: 1.4;
    font-family: 'Merriweather', Georgia, serif;
    font-weight: 500;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
}

/* Header styles */
header {
    width: 100%;
}
