/* === Mobile-First design (code for smaller screens first) ===*/
/* === BASE STYLES Applies to all screen by default unless
overridden by media queries. === */
/* === TEMPLATE CSS - Common styles for all pages based on template.html === */

/* h1 h2 and p colours are set here and not in base.css */
/* h1 h2 and p sizes are set in base.css */
h1, h2, p {
  color: #000000;/* if no colours are set in the file this will be the default colour */
}
 /* === ***** YOUR HONOR MOBILE STYLES FIRST ***** === */

 /* === PAGE HEADING H1 STYLES === */

.page-heading {
  margin-top: 4px;
  text-align: center;
  color: #000000;/* text colour for h1 heading */
  font-weight: bold;
}

 /* === PAGE SECTION 1 STYLES === */
 /* Main section styles with 3px spacing below navbar */

 /* MAIN WRAPPER */
.outer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  margin-top: 14px;
  background: transparent;
}

 /* CARD */
.card {
  background: #00a5e3;
  display: block;
  width: 88%;
  margin-bottom: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

 /* IMAGE WRAPPER */

.image-left-wrapper {
  display: block;
}

 /* IMAGE RATIO 1.0 make image square */
 /* CIRCLE IMAGE AND FLOAT TO THE RIGHT SIDE OF THE CARD */
 /* MAKE IMAGE SQUARE IN GIMP */

.image-left-side {
  display: block;
  position: static;
  float: right; /* Float image to the right */
  width: 110px;
  height: 110px;
  margin: 4px 5px 4px 0px;
  background: transparent;
  border-radius: 50vh; /* first create image as a square, this makes image circle */
  border: none;
  overflow: hidden;
  object-fit: cover;
}


 /* LEFT COLUMN WRAPPER */
.left-wrapper {
  display: block;
  background: transparent;
}

 /* PLAYER NAME */
.player-name {
  margin-top: 3px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;

  font-size: 1.1rem;
  line-height: 1.4rem;

  color: black;
  text-align: left;
}

 /* ABOUT COACH TEXT */
.about-coach {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  align-items: center;
  color: white;
  font-size: 1rem;
  line-height: 1.4rem;
  padding-top: 6px;
  padding-bottom: 6px;
}

 /* BUTTON WRAPPER */
.button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-left: 5px;
}
 /* Contact + Read More buttons share the same style */
 /* BUTTONS */

.read-more,
.contact-coach {

  margin-bottom: auto; /* Pushes the button to the bottom of the card */
  display: block;
  background: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 2px 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease; /* Adds a smooth jump hover effect */
}
.read-more:hover,
.contact-coach:hover {
  transform: translateY(-5px); /* Pushes the button up when hovered */
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

 /* === RESPONSIVE BREAKPOINTS === */

  /* === TABLET 950px+ (MY HONOR TABLET 1143PX WIDE === */
 /* === SCREENS 950px OR LARGER IN WIDTH ===*/
@media (min-width: 950px) {

  .card {
    width: 70%;
  }

}

 /* === LAPTOP 1200px+) === */
 /* === SCREENS 1200px OR LARGER IN WIDTH ===*/
@media (min-width: 1200px) {

/* === CARD WAS BLOCK AND NOW CHANGED TO FLEX BLOCK === */
  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 65%;
  }

  /* === IMAGE WRAPPER WAS BLOCK AND NOW CHANGED TO FLEX BLOCK === */
  /* IMAGE WRAPPER */
  .image-left-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  /* IMAGE RATIO 1.0 make image square in Gimp */
  /* CIRCLE IMAGE */
  .image-left-side {
    width: 130px;
    height: 130px;
  }
  .button-wrapper {
    gap: 180px;
    margin-top: 60px;
    margin-left: 60px;;
  }

}
  /* === LARGE DESKTOP WORK HERE (1750px+) === */
  /* === screens 1750px or larger in width ===*/
@media (min-width: 1750px) {

  /* IMAGE RATIO 1.0 make image square */
  /* CIRCLE IMAGE */
  .image-left-side {
    width: 160px;
    height: 160px;
  }
 

}