/* === Mobile-First design (code for smaller screens first) ===*/
/* === BASE STYLES Applies to all screen by default unless
overridden by media queries. === */

/* h1 h2 and p colours are set here and not in base.css */
/* h1 h2 and p sizes are set in base.css */
h1, h2, p {
  color: #000000;/* if no colours are set in the file this will be the default colour */
}
/* === ***** YOUR HONOR MOBILE STYLES FIRST ***** === */

 /* === PAGE HEADING H1 STYLES === */

.page-heading {
  margin-top: 4px;
  padding: 3px;
  text-align: center;
  color: #000000;/* text colour for h1 heading */
  font-weight: bold;
  color: #008080;
}

/* Main section */

/* Wrapper */

.wrapper-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 5px;
  justify-content: center;
  align-items: flex-start;
  background: transparent;
  margin-top: 5px;
}

/* Card */

.card {
  display:flex;
  width: 345px;
  height: 260px;
  background: transparent;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  padding: 16px;
  flex-direction: column;
}

/* Title */

.card-header {
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 10px;
  margin-bottom: 12px;
  color: #008080;
}

/* Inner flex layout */

.card-inner {
  display: flex;
  flex: 1;
  gap: 16px;
  padding-left: 10px;
}

/* Left side */

.card-left { /* text size made in div block */
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-align: left;
  width: 145px;
}

/* Right side */

.card-right {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* Image */

.card-image {
  
  width: 120px;
  height: auto;
  display: block;
}

.card-left p {
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-top: auto; /* Pushes the paragraph to the bottom of the card */
  margin-bottom: 5px;
  padding-left: 16px;
}

/* Button */

/* Hover (mouse interaction) */
.button-secondary {
  margin-top: auto; /* Pushes the button to the bottom of the card */
  display: block;
  padding: 3px 4px;
  width: 146px;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-align: center;
  color: #ffffff;
  background-color: black;
  border-radius: 8px;
  border: 1px solid #ffffff;
  transition: transform 0.3s ease; /* Adds a smooth jump hover effect */
}

.button-secondary:hover {
  transform: translateY(-5px); /* Pushes the button up when hovered */
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* === RESPONSIVE BREAKPOINTS === */

 /* === TABLET 950px+ (MY HONOR TABLET 1143PX WIDE === */
 /* === SCREENS 950px OR LARGER IN WIDTH ===*/
@media (min-width: 950px) {

  .card {
    width: 405px;
    height: 320px;
  }

  .card-header {
    font-size: 1.2rem;
    padding-left: 20px;
  }

  .card-inner {
    padding-left: 20px;
  }

  .card-image {
    width: 150px;
  }

  .card-left {/* text size made in div block */
    font-size: 1.1rem;
    line-height: 1.5rem;
  
  }

  .card-left p { 
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

}

 /* === LAPTOP 1200px+) === */
 /* === SCREENS 1200px OR LARGER IN WIDTH ===*/
@media (min-width: 1200px) {



}

/* === LARGE DESKTOP HERE (1750px+) === */
/* === screens 1750px or larger in width ===*/
@media (min-width: 1750px) {

   .card {
    width: 445px;
    height: 360px;
  }
  .card-image {
    width: 180px;
  }


}
