/* === Mobile-First design (code for smaller screens first) ===*/

/* h1 h2 and p colours are set here and not in base.css */
/* h1 h2 and p sizes are set in base.css */
h1, h2, p {
  color: #000000;/* if no colours are set in the file this will be the default colour */
}

body {
    background-color: #f5f5f5;/* off white*/
}
/* === ***** YOUR HONOR MOBILE "LANDSCAPE" HERE, NOT PORTRAIT ***** === */

 /* === PAGE HEADING H1 STYLES === */

.page-heading {
  margin-top: 4px;
  text-align: center;
  color: #000000;/* text colour for h1 heading */
  font-weight: bold;
}

/* === PAGE SECTION 1 STYLES === */
/* Main section styles with 3px spacing below navbar */
.section1  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
  width: 100%;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  padding: 6px;
  text-align: center;
}

/* === CONTENT WRAPPER STYLES === */
.image-1-wrapper {
  width: 100%;
  height: auto;
  padding: 0.5rem;
}
.image-1-wrapper img {
  width: 100%;
  height: auto;
}
.image-1-wrapper p {
  text-align: left;
  padding-top: 1.5rem;
}
.google-iframe-wrapper {
  width: 100%;
  height: 375x;
}

/* === RESPONSIVE BREAKPOINTS === */

/* === TABLET 950px+ (MY HONOR TABLET 1143PX WIDE === */
/* === SCREENS 950px OR LARGER IN WIDTH ===*/
@media (min-width: 950px) {

  .section1 {
    gap: 1.5rem;
  }

.image-1-wrapper {
  width: 350px;
  height: auto;
  gap: 1.5rem;
}
.image-1-wrapper img {
  width: 350px;
  height: auto;
}
.google-iframe-wrapper {
  width: 350px;
  height: 480px;
}
}

/* === LAPTOP 1200px+) === */
/* === SCREENS 1200px OR LARGER IN WIDTH ===*/
@media (min-width: 1200px) {

.image-1-wrapper img {
  width: 640px;
}

.google-iframe-wrapper {
  width: 640px;
}
}
/* === LARGE DESKTOP HERE (1750px+) === */
/* === screens 1750px or larger in width ===*/
@media (min-width: 1750px) {

.image-1-wrapper img {
  width: 660px;
}

.google-iframe-wrapper {
  width: 660px;
}
}
